In [ ]:
f = open("file.txt","w")
f.write("Opening the file\n")   # In this line, we have given \n to enter the data in next line
f.write("Moving to second line")    # Here we have not given \n, so the next data will be written in the same line
f.write("The next one")
f.close()

In [3]:
f = open("file.txt","r")
print(f.read())
f.close()

Opening the file
Moving to second lineThe next one

In [ ]:
# like string, we can use the same functions here
# earlier we entirely printed the text
# we are going to print the content line by line
f = open("file.txt","r")
for line in f:
    print(line.strip())
# using only the line inside the print means, if there is any space, it also will be printed, using strip means, it will remove the spaces
f.close()

Opening the file
Moving to second lineThe next one

In [9]:
# To calculate the no of words in the file

f = open("file.txt","r")
words = f.read().split()
print(len(words))
f.close()

9

In [ ]:
with open("file.txt", "a") as f:
    f.write("\nnew line added")

d = open("file.txt", "r")
print(d.read())

Opening the file
Moving to second lineThe next one
new line added
new line added
new line added
new line added

In [30]:
items = ["chicken","mutton","prawn","fish"]
with open("shipping.txt","w") as q:
    for i in items:
        q.write(i + "\n")

In [29]:
b = open("shipping.txt","r")
print(b.read())

chicken
mutton
prawn
fish

In [ ]:
# readline - it read lines one at a time - one by one line

with open("shipping.txt","r") as q:
    line = q.readline()
    print(len(line))

8

In [1]:
# Copying a content
with open("shipping.txt", "r") as f1:
    with open("copy.txt", "w") as f2:
        f2.write(f1.read())

In [3]:
lst = [1, 2, 3, 4, 5]
sq = list(map(lambda x : x*x, lst))
print(sq)

[1, 4, 9, 16, 25]

In [7]:
name = ["raja", "kumar", "kavin"]
n = list(map(lambda x : x.capitalize(), name))
l = list(map(lambda x : len(x), name))
print(l)
print(n)

[4, 5, 5]
['Raja', 'Kumar', 'Kavin']

In [10]:
cm_value = [45, 66, 87, 12, 66, 27]
inch = list(map(lambda x : x*2.54, cm_value))
round_inch = list(map(lambda x : round(x*2.54, 2), cm_value))
print(f'The converted inch values are: {inch}')
print(f'The converted rounded inch values are: {round_inch}')

The converted inch values are: [114.3, 167.64000000000001, 220.98, 30.48, 167.64000000000001, 68.58]
The converted rounded inch values are: [114.3, 167.64, 220.98, 30.48, 167.64, 68.58]

In [11]:
nums = [24, 45, 87, 66, 2, 99]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[24, 66, 2]

In [14]:
# From a list of name, print only the name starts with a
names = ["Abishek", "Gill", "Surya", "Samson", "Hardik", "Rinku", "Dube", "Harshit", "Arshdeep", "Kuldeep", "Varun"]
a_name = list(filter(lambda x : x.startswith("A"), names))
print(a_name)

['Abishek', 'Arshdeep']

In [ ]:
# From a list of name, print only the name starts with a and s
names = ["Abishek", "Gill", "Surya", "Samson", "Hardik", "Rinku", "Dube", "Harshit", "Arshdeep", "Kuldeep", "Varun"]
a_name = list(filter(lambda x : x.startswith(("A", "S")), names))
print(a_name)

['Abishek', 'Surya', 'Samson', 'Arshdeep']

In [ ]:
# From a list of name, print only the spelling count greater or equal to 5
names = ["Abishek", "Gill", "Surya", "Samson", "Hardik", "Rinku", "Dube", "Harshit", "Arshdeep", "Kuldeep", "Varun"]
a_name = list(filter(lambda x : len(x) >= 5, names))
print(a_name)

['Abishek', 'Surya', 'Samson', 'Hardik', 'Rinku', 'Harshit', 'Arshdeep', 'Kuldeep', 'Varun']

In [24]:
# Filter from dictionary
details = {"Santhosh": 60, "Kannan": 75, "Rajesh": 90, "Vijay": 88}
pass_mark = dict(filter(lambda x : x[1] > 75, details.items()))
print(pass_mark)

{'Rajesh': 90, 'Vijay': 88}

In [29]:
details = {"Santhosh": 60, "Kannan": 75, "Rajesh": 90, "Vijay": 88}
for key in details:
    print(key)

Santhosh
Kannan
Rajesh
Vijay

In [32]:
# Filter students who scored more than 80 marks

# Map the filtered students to a new structure: "Neha scored 88"


students = {
    "Amit": 72,
    "Neha": 88,
    "Ravi": 95,
    "Sara": 64,
    "Kiran": 81
}

result = list(map(lambda x: f"{x[0]} scored {x[1]}", filter(lambda x: x[1] > 80, students.items())))

# Here we are getting the output as list, map needs a function, where we are giving the output format as the function
# next we need to apply the function on the filtered people, so we are giving the filter function as the iterable thing

print(result)

['Neha scored 88', 'Ravi scored 95', 'Kiran scored 81']

In [2]:
nu = [5, 9, 78, 66, 74]
rs = list(map(lambda x : x*3, filter(lambda x : x % 2 == 1, nu)))
print(rs)

[15, 27]

In [7]:
# list comprehension

lst = [x for x in range(5) if x > 0]
lst

[1, 2, 3, 4]

In [6]:
st = "python"
lt = [x for x in st]
lt

['p', 'y', 't', 'h', 'o', 'n']

In [10]:
n = "p23y45t43h245o66n"
l = [x for x in n if x.isdigit()]
l

['2', '3', '4', '5', '4', '3', '2', '4', '5', '6', '6']

In [11]:
n = "p23y45t43h245o66n"
l = [x for x in n if x.isalpha()]
l

['p', 'y', 't', 'h', 'o', 'n']

In [12]:
n = "p23y45t43h245o66n"
l = [x for x in n if x.isalnum()]
l

['p',
 '2',
 '3',
 'y',
 '4',
 '5',
 't',
 '4',
 '3',
 'h',
 '2',
 '4',
 '5',
 'o',
 '6',
 '6',
 'n']

In [13]:
b = [x**3 for x in range(5)]
print(b)

[0, 1, 8, 27, 64]

In [ ]:
# regex
# extracting the numeric characters from a string

import re
re.findall(r"\d", "Order123 shipped on 2024-05-12")

['1', '2', '3', '2', '0', '2', '4', '0', '5', '1', '2']

In [3]:
re.findall(r"\d+", "Order123 shipped on 2024-05-12")

['123', '2024', '05', '12']

In [5]:
# find the string contains email or not
email = "testab_77@gmail.com"
pattern1 = r"[\w,-]+@[\w,-]+\.\w+"
print(bool(re.match(pattern1, email)))

True

In [8]:
word = "1231"
# n = word[::-1]
# n
if word == word[::-1]:
    print("yes")
else:
    print("no")

no

In [10]:
import datetime

In [16]:
datetime.datetime.now()

datetime.datetime(2026, 1, 25, 17, 56, 58, 823954)

In [19]:
number = [1, 2, 3]
it = iter(number)
type(it)

list_iterator

In [21]:
l = ["chill", "pannu", "nanba"]

for i in l:
    print(i)
    for j in i:
        print(j)

chill
c
h
i
l
l
pannu
p
a
n
n
u
nanba
n
a
n
b
a

In [1]:
import pickle

In [2]:
data = {"name": "raja", "age" : 30, "skill" : ["ML", "DL", "Excel"]}

with open("data.pkl", "wb") as f:
    pickle.dump(data, f)

In [3]:
with open("data.pkl", "rb") as f:
    che = pickle.load(f)

print(che)

{'name': 'raja', 'age': 30, 'skill': ['ML', 'DL', 'Excel']}

In [4]:
import json

In [5]:
data = {"name": "raja", "age" : 30, "skill" : ["ML", "DL", "Excel"]}
json_data = json.dumps(data)
json_data

'{"name": "raja", "age": 30, "skill": ["ML", "DL", "Excel"]}'

In [ ]:
data_decode = json.loads(json_data)

In [7]:
import csv

filename = "students.csv"

with open(filename, mode="w", newline="") as file:
    writer = csv.writer(file)

    # Write header
    writer.writerow(["ID", "Name", "Email"])

    # Write 25 student records
    for i in range(1, 26):
        name = f"Student{i}"
        email = f"student{i}@example.com"
        writer.writerow([i, name, email])

print("CSV file created successfully!")

CSV file created successfully!

In [10]:
with open('students.csv', 'r')as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['ID', 'Name', 'Email']
['1', 'Student1', 'student1@example.com']
['2', 'Student2', 'student2@example.com']
['3', 'Student3', 'student3@example.com']
['4', 'Student4', 'student4@example.com']
['5', 'Student5', 'student5@example.com']
['6', 'Student6', 'student6@example.com']
['7', 'Student7', 'student7@example.com']
['8', 'Student8', 'student8@example.com']
['9', 'Student9', 'student9@example.com']
['10', 'Student10', 'student10@example.com']
['11', 'Student11', 'student11@example.com']
['12', 'Student12', 'student12@example.com']
['13', 'Student13', 'student13@example.com']
['14', 'Student14', 'student14@example.com']
['15', 'Student15', 'student15@example.com']
['16', 'Student16', 'student16@example.com']
['17', 'Student17', 'student17@example.com']
['18', 'Student18', 'student18@example.com']
['19', 'Student19', 'student19@example.com']
['20', 'Student20', 'student20@example.com']
['21', 'Student21', 'student21@example.com']
['22', 'Student22', 'student22@example.com']
['23', 'Student23', 'student23@example.com']
['24', 'Student24', 'student24@example.com']
['25', 'Student25', 'student25@example.com']

In [2]:
import csv

In [9]:
with open('students.csv', 'r')as f:
    reader = csv.reader(f)
    it_read = iter(reader)
    print(next(it_read))

['ID', 'Name', 'Email']

In [ ]:
with open('students.csv', 'r')as f:
    reader = csv.reader(f)
    print(len(list(reader)))

26

In [13]:
st = "Hello Mister"

with open('new_student.csv', 'w', newline = '') as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Place"])
    writer.writerow(["Kumar", "Chennai"])
    file.write(st)

In [19]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst[-5:-7:-1]

[40, 30]

In [26]:
div = list(map(lambda x : int(x/10), lst[::-1]))
div

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
type(div)

list

In [34]:
a = 1.0
b = 1.0

In [36]:
id(a), id(b)

(2385068043408, 2385068045712)

In [ ]:
# To find the vowels count in a string

str = "Hello World again"
vowels  = "aeiouAEIOU"

s = 0

for ch in str:
    if ch in vowels:
        s += 1
    else:
        s
print(s)

6