In [1]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [8]:
# Set - Removes duplicate & give unique value, automatically sort 

s = {1, 2, 3, 1, 8, 6, 2, 5}
s
for i in s:
    print(i)

1
2
3
5
6
8

In [1]:
# list - Doesn't remove duplicate
a = [1,2,3,4,5,2,1,6]
for i in a:
    print(i)

1
2
3
4
5
2
1
6

In [ ]:
# tuple - Doesn't remove duplicate
b = (1, 3, 2, 5, 4, 3)
b
for i in b:
    print(i)

1
3
2
5
4
3

In [ ]:
str = "Python was"
  #    0123456789
print('value is "' + str[0:8:2] + '"')
print(str[::-1]) #reversing string

value is "Pto "
saw nohtyP

In [ ]:
print(str[::1]) #jumps 1 position from the start point
print(str[::2]) #jumps 2 position from the start point
print(str[::3])

Python was
Pto a
Ph s

In [2]:
lst = [1,2,3,4,5]
print(lst[2:5])

[3, 4, 5]

In [8]:
nlst = ["apple", "mango", "pineapple", "jackfruit", "tomato"]
print(nlst[3:5])

['jackfruit', 'tomato']

In [ ]:
nlst.reverse()
nlst.sort()
nlst

['apple', 'mango', 'pineapple', 'jackfruit', 'tomato']

In [10]:
nlst[2] = "fruit"
nlst

['apple', 'mango', 'fruit', 'jackfruit', 'tomato']

In [20]:
nlst.append("orange")
nlst

['apple', 'mango', 'fruit', 'jackfruit', 'tomato', 'orange', 'orange']

In [21]:
nlst.remove("orange")
nlst

['apple', 'mango', 'fruit', 'jackfruit', 'tomato', 'orange']

In [22]:
nlst.extend(["brinjal", "lemon"])
nlst

['apple',
 'mango',
 'fruit',
 'jackfruit',
 'tomato',
 'orange',
 'brinjal',
 'lemon']

In [23]:
nlst.insert(1, "citrus")
nlst

['apple',
 'citrus',
 'mango',
 'fruit',
 'jackfruit',
 'tomato',
 'orange',
 'brinjal',
 'lemon']

In [24]:
nlst.pop()
nlst

['apple',
 'citrus',
 'mango',
 'fruit',
 'jackfruit',
 'tomato',
 'orange',
 'brinjal']

In [3]:
st = {"apple", "pineapple", "mango", "apple", "orange", "orange"}
st

{'apple', 'mango', 'orange', 'pineapple'}

In [4]:
st2 = {"orange", "mango", "orange", "pineapple"}
st2

{'mango', 'orange', 'pineapple'}

In [5]:
st2.add("lime")
st2

{'lime', 'mango', 'orange', 'pineapple'}

In [6]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6, 7}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7}

In [7]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6, 7}
print(a.intersection(b))

{3, 4}

In [8]:
tpl1 = ("ravi", 25, "65DD1", "IT")
tpl2 = ("Chennai", "WFO")
print(tpl1 + tpl2)

('ravi', 25, '65DD1', 'IT', 'Chennai', 'WFO')

In [9]:
dct = {"name":"kannan", "dept":"IT","ID":"65DD1"}
dct

{'name': 'kannan', 'dept': 'IT', 'ID': '65DD1'}

In [10]:
dct["dept"] = "Sales"
dct

{'name': 'kannan', 'dept': 'Sales', 'ID': '65DD1'}

In [11]:
dct["mode"] = "WFO"
dct

{'name': 'kannan', 'dept': 'Sales', 'ID': '65DD1', 'mode': 'WFO'}

In [14]:
dct.pop("mode")
dct

{'name': 'kannan', 'dept': 'Sales', 'ID': '65DD1'}

In [16]:
dct.values()

dict_values(['kannan', 'Sales', '65DD1'])

In [17]:
dct.items()

dict_items([('name', 'kannan'), ('dept', 'Sales'), ('ID', '65DD1')])

In [3]:
x = 5
for i in range(x):
    print(i)

0
1
2
3
4

In [10]:
i = 0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [13]:
for I in [1, 3, 54, 66, 88, 103]:
	if I == 54:
		print("match found")
		break
	print("number found")

number found
number found
match found

In [14]:
for I in [1, 3, 54, 66, 88, 103]:
	if I == 54:
		print("match found")
		continue
	print("number found")

number found
number found
match found
number found
number found
number found

In [18]:
st = "Python is great program"
txt = st.split()
txt
# count = len(st.split())
# print("Word Count:", count)

['Python', 'is', 'great', 'program']

In [21]:
tt = "Python is simple and Python is powerful"
dct = {}
dct = tt.split()
# dct.update(txt)
dct

['Python', 'is', 'simple', 'and', 'Python', 'is', 'powerful']

In [ ]:
def greet(name):
    print("hello", name)
    return

greet("Prasanna")

hello Prasanna

In [20]:
def grind(grain):
    sp = grain.split()
    return

grind("rice ready")

In [23]:
def sq(x):
    c=x*x
    return c

sq(3)

9

In [4]:
def sq(x):
    x*x
    return x

print("the value is", sq(3))
print("the vlaue is", sq(4))

# Here since the function sq is returning the 'x', the output came as the value is 3

the value is 3
the vlaue is 4

In [ ]:
c = lambda a : a + 2
c(6)

# Anonymous function that will not follow the conventional function format

8

In [ ]:
# lambda can be written without the arugument also
# The general syntax is lambda arguement : expression

d = lambda : "Greetings"
d()

'Greetings'

In [1]:
# We can use two variables in lambda 
add = lambda a, b : a + b
add(3,5)

8

In [ ]:
round(3.1658744,2)

# syntax is round(number, no of digits to be rounded off)

3.17

In [3]:
import math

In [ ]:
math.ceil(3.2248)
# round off to the highest value

4

In [ ]:
# math.floor(3.213)
math.floor(3.668)
# round off to the lowest value

3

In [8]:
math.pow(5,3)

125.0

In [9]:
import random

In [10]:
random.randint(5,26)

18

In [26]:
random.randrange(8,29,3)

14

In [27]:
random.choice(["goat","lion","cheetah"])

'goat'